<div class="home__container">
  <div class="home__header">
    <h1 class="home__title">Üdvözlünk a fájlkezelő oldalunkon!</h1>
  </div>
  <main class="main__container">
    <article class="article__contain">
      Bejelntkezés után tudja használatba venni a fájlkezelő funkciókat, ami segítségével fileokat tud felölteni a fájlrendszerünkbe, illetve a táblazatban kiválaszthatja az adott fájlt, amennyiben törölni kívánja. 
    </article>
    <article class="article__contain">
      Lorem, ipsum dolor sit amet consectetur adipisicing elit. Velit illo eos ad aliquid exercitationem repudiandae corporis, at temporibus accusamus laborum quam a? Voluptate ab cum recusandae consequuntur, aperiam expedita iste.
      Inventore ullam sint similique voluptates architecto labore, molestiae repellendus asperiores, quae deserunt, sit obcaecati officiis eum facere consectetur fuga ad dicta quibusdam temporibus impedit assumenda! Nobis aperiam blanditiis cum veritatis.
      Iusto, sequi. Perferendis doloribus, mollitia odio dolorem autem eum nesciunt recusandae eius quidem molestiae numquam nisi! Quo voluptate, hic repudiandae, temporibus animi accusamus, dolorum unde vitae atque totam illum iusto.
      Adipisci obcaecati consequatur, inventore, veritatis perspiciatis consequuntur excepturi aliquam voluptatibus maiores repellendus dicta! Nihil mollitia eveniet enim nulla iusto, eius eum, sunt iste modi delectus deleniti a fugiat vitae asperiores.
      Nam, adipisci eligendi ut recusandae asperiores temporibus non ullam molestiae placeat cupiditate deserunt, impedit ratione magnam unde laudantium, corporis ab repudiandae dignissimos perferendis commodi doloremque quasi. Impedit vitae soluta est.
    </article>
  </main>
</div>
