@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');
$font-family: 'Roboto', sans-serif;

body{
  margin: 0;
}

.nav {
  background: rgb(40, 106, 204);
  box-shadow: 0 0 10px #aaa;
  display: flex;
  justify-content: center;
  margin: 0;
  
  &__container{
    align-items: flex-start;
    display: flex;
    flex-direction: row-reverse;
    width: 100vw;
    
    @media screen and (min-width: 40em) {
      align-items: center;
    }
  }
  
  &__list{
    display: none;
    flex-direction: column;
    list-style: none;
    margin: 0 auto;
    padding: 0;
    width: 100%;
    
    @media screen and (min-width: 40rem) {
      display: flex;
      flex-direction: row;
      width: auto;
    }
  }

    &__item {
      text-align: center;
    }

    &__link{
      color: #dfdfdf;
      display: block;
      font-family: $font-family;
      font-weight: 700;
      line-height: 1rem;
      padding: 1rem;
      text-decoration: none;

      &:hover {
          color: rgba(238, 186, 15, .8);
      }

      &--title{
        color: #dfdfdf;
        display: block;
        font-size: 1.4rem;
        font-family: $font-family;
        font-weight: 800;
        padding: 1rem;
        line-height: 1rem;
        text-decoration: none;
        text-align: left;

        @media screen and (max-width: 40rem) {
          display: none;
        }
      }
    }
    
    &__hamburger-checkbox {
      display: none;
      
      &:checked + ul {
        display: flex;
      }
    }
    
    &__hamburger-label {
      align-items: center;
      cursor: pointer;
      display: flex;
      flex-wrap: wrap;
      height: 1.5rem;
      margin: .1rem;
      padding:0.75rem;
      width:1.5rem;
      
      @media screen and (min-width: 40rem){
        display: none;
      }
    }
    
    &__hamburger-line {
      background: #222;
      display: block;
      height: 2px;
      width: 1.5rem;
    }
}
